.cart--quantity {
    pointer-events: none !important;
}

.w-commerce-commerceaddtocartoutofstock {
    background-color: red !important;
    color: white !important;
    border-radius: 300rem !important;
    text-align: center !important;
}


.w-commerce-commerceaddtocartoptionpill {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    font-size: 14rem;
    background-color: transparent !important;
    color: #ffffff !important;
    
    opacity: 0.6;
    border: 1px solid #FFFFFF;
    border-radius: 100rem;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
}
