.cart--quantity {
    pointer-events: none !important;
}

.w-commerce-commerceaddtocartoutofstock {
    background-color: red !important;
    color: white !important;
    border-radius: 4rem !important;
}

